@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url("https://fonts.googleapis.com/css2?family=Verdana&display=swap");

:root {
  background-image: url("../src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: "no-repeat";
  // --toastify-color-dark: #414141;
  --toastify-color-success: #00ffff;
  --toastify-color-error: #ff1900;
  // --toastify-text-color-dark: #149eca;
  // font-family: "Verdana", sans-serif;

  // --tw-gradient-from: #111827;
  // --tw-gradient-via: #1f2937;
  // --tw-gradient-to: #06323e;
  // --tw-gradient-from-position: bottom left;
  // --tw-gradient-via-position: center;
  // --tw-gradient-to-position: top right;
  // --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via), var(--tw-gradient-to);
  // --bg-gradient-color-start: var(--tw-gradient-from);
  // --bg-gradient-color-middle: var(--tw-gradient-via);
  // --bg-gradient-color-end: var(--tw-gradient-to);
  // background-color: var(--bg-gradient-color-start);
  // background-image: linear-gradient(to right top, var(--tw-gradient-stops));
  // background-repeat: no-repeat;
}
/* Benutzerdefiniertes Styling für die Toastify-Benachrichtigungen */
.custom-toast {
  --tw-gradient-from: rgba(27, 38, 61, 0.3);
  --tw-gradient-via: rgba(48, 63, 84, 0.3);
  --tw-gradient-to: rgba(8, 74, 92, 0.3);
  --tw-gradient-from-position: bottom left;
  --tw-gradient-via-position: center;
  --tw-gradient-to-position: top right;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via),
    var(--tw-gradient-to);
  --bg-gradient-color-start: var(--tw-gradient-from);
  --bg-gradient-color-middle: var(--tw-gradient-via);
  --bg-gradient-color-end: var(--tw-gradient-to);
  background-color: var(--bg-gradient-color-start);
  background-image: linear-gradient(to right top, var(--tw-gradient-stops));
  background-repeat: no-repeat;
  border-radius: 8px; /* Abgerundete Ecken */
}

/* Stil für den Schließen-Button der Benachrichtigungen */
.custom-toast .Toastify__close-button {
  color: #ffffff; /* Farbe des Schließen-Buttons */
}

/* Stil für den Text der Benachrichtigungen */
.custom-toast .Toastify__toast-body {
  font-size: 16px; /* Schriftgröße */
}
.blubb1 {
  --tw-gradient-from: rgba(17, 24, 39, 0.3);
  --tw-gradient-via: rgba(31, 41, 55, 0.3);
  --tw-gradient-to: rgba(6, 50, 62, 0.3);
  --tw-gradient-from-position: bottom left;
  --tw-gradient-via-position: center;
  --tw-gradient-to-position: top right;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via),
    var(--tw-gradient-to);
  --bg-gradient-color-start: var(--tw-gradient-from);
  --bg-gradient-color-middle: var(--tw-gradient-via);
  --bg-gradient-color-end: var(--tw-gradient-to);
  background-color: var(--bg-gradient-color-start);
  background-image: linear-gradient(to right top, var(--tw-gradient-stops));
  background-repeat: no-repeat;
}

.shadow-up {
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow-colored: 0 -10px 15px -3px var(--tw-shadow-color),
    0 -4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blubb {
  --tw-gradient-from: #111827;
  --tw-gradient-via: #1f2937;
  --tw-gradient-to: #06323e;
  --tw-gradient-from-position: bottom left;
  --tw-gradient-via-position: center;
  --tw-gradient-to-position: top right;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via),
    var(--tw-gradient-to);
  --bg-gradient-color-start: var(--tw-gradient-from);
  --bg-gradient-color-middle: var(--tw-gradient-via);
  --bg-gradient-color-end: var(--tw-gradient-to);
  background-color: var(--bg-gradient-color-start);
  background-image: linear-gradient(to right top, var(--tw-gradient-stops));
  background-repeat: no-repeat;
}

.textc {
  color: #149eca;
}

p {
  color: #149eca;
  font-weight: bold;
}

h1,
li {
  font-weight: 700;
  color: white;
}

// h1 {
//    text-decoration: underline;
// }

// .shadow-effect {
//    transition: all 0.1s;
// }

.shadow-effect:hover {
  box-shadow: -4px 4px 0 0 #149eca;
}
.selected-tab {
  box-shadow: -2px 2px 0 0 #149eca;
}

.popup-profile-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 200ms, opacity 200ms linear;
}

.profile-name:hover .popup-profile-info {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); /* This applies the blur effect */
  z-index: 1; /* Ensure the overlay is above other content */
}
